@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './button.scss';

* {
  scroll-behavior: smooth;
}

html,
body,
a {
  @apply md:cursor-none #{!important};
}

body {
  @apply overflow-x-hidden bg-primary text-white;
}

.cta-text {
    @apply text-5xl md:text-[84px] font-bold;
}

.link {
    @apply text-5xl md:text-[84px] font-bold gradient gradient-underline;
}

.gradient-underline {
  padding-bottom: 4px;
  position: relative;
  text-decoration: none;
}

.gradient-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
}

h1 {
    @apply text-3xl md:text-7xl md:leading-tight font-bold;
}

h2 {
    @apply text-[28px] md:text-[64px] font-bold;
}

h3 {
  @apply text-lg md:text-[56px] font-bold;
}

h4 {
  @apply text-base md:text-5xl font-bold;
}

h5 {
  @apply text-base md:text-[32px] font-bold;
}

h6 {
  @apply text-base md:text-2xl font-bold;
}

p {
    @apply font-serif md:text-lg md:leading-8;
}

section {
    @apply py-12 md:py-24 lg:py-32;
}

.bg-gradient,
.gradient,
.gradient-underline::after {
  @apply bg-gradient-secondary bg-gradient-to-r from-gradient-primary to-gradient-secondary;
}

.gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cursor {
  @apply hidden md:block fixed w-5 h-5 rounded-full bg-white pointer-events-none mix-blend-difference;
	z-index: 999;
	transition: transform 0.2s;
}